* {
    background-color: #8ED0F8;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    font-size: 70px;
    margin-bottom: 0px;
    margin-top: 15px;
}

img {
    height: 300px;
    width: auto;
    margin-bottom: 15px;

}

.largeText{
    font-size: 50px;
}

.recipes{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px

}


